@import '~styles/helpers/_module';

.carousel-container {
	
	.slide {
		width: 20%;

		.upscale-generic-image {
			padding-top: 2%;
			@media (min-width: 1300px) {
				padding-top: 7px;
			}
		}
	}
	.component-headline {
		color: red;
	}
}